<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <HN_Zohointegration>
            <version>1.1.0</version>
        </HN_Zohointegration>
    </modules>
        <frontend>
        <routers>
            <zohointegration>
                <use>standard</use>
                <args>
                    <module>HN_Zohointegration</module>
                    <frontName>zohointegration</frontName>
                </args>
            </zohointegration>           
        </routers>       
        <translate>
            <modules>
                <HN_Zohointegration>
                    <files>
                        <default>HN_Zohointegration.csv</default>
                    </files>
                </HN_Zohointegration>
            </modules>
        </translate>
    </frontend>    
	<global>        
		<helpers>
             <zohointegration>
                <class>HN_Zohointegration_Helper</class>
             </zohointegration>
        </helpers>
        <blocks>
			<zohointegration>
				<class>HN_Zohointegration_Block</class>
			</zohointegration>
		</blocks>
        <models>
            <zohointegration>
                <class>HN_Zohointegration_Model</class>
                <resourceModel>zohointegration_resource</resourceModel>
            </zohointegration>
            <zohointegration_resource>                
                <class>HN_Zohointegration_Model_Resource</class>
                <entities>
                    <map>
                        <table>magenest_zoho_mapping</table>
                    </map>
                    <field>
                        <table>magenest_zoho_field</table>
                    </field>
                    <report>
                        <table>magenest_zoho_report</table>
                    </report>
                </entities>
            </zohointegration_resource>
        </models>    
        <resources>
            <zohointegration_setup>
                <setup>
                    <module>HN_Zohointegration</module>
                </setup>
            </zohointegration_setup>
        </resources>       
        <events>
            <customer_register_success>
                <observers>
                    <zohointegration>
                        <type>singleton</type>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>syncLead</method>
                    </zohointegration>
                </observers>
            </customer_register_success> 
            <customer_delete_commit_after>
                <observers>
                    <zohointegration>
                        <type>singleton</type>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>deleteCustomer</method>
                    </zohointegration>
                </observers>
            </customer_delete_commit_after>
            <customer_address_save_after>
                <observers>
                    <zohointegration>
                        <type>singleton</type>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>updateCustomer</method>
                    </zohointegration>
                </observers>
            </customer_address_save_after>          
            <catalog_product_save_after>
                <observers>
                    <zohointegration>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>syncProduct</method>
                    </zohointegration>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <zohointegration>
                        <type>singleton</type>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>deleteProduct</method>
                    </zohointegration>
                </observers>
            </catalog_product_delete_commit_after>
            <sales_order_place_after>
                <observers>
                    <zohointegration>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>syncOrder</method>
                    </zohointegration>
                </observers>
            </sales_order_place_after>                
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <zohointegration>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>syncSubscriber</method>
                    </zohointegration>
                </observers>
            </newsletter_subscriber_save_commit_after>           
            <catalogrule_rule_save_after>
                <observers>
                    <zohointegration>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>syncCampaign</method>
                    </zohointegration>
                </observers>
            </catalogrule_rule_save_after>
            <sales_order_invoice_save_commit_after>
             <observers>
                    <zohointegration>
                        <type>singleton</type>
                        <class>HN_Zohointegration_Model_Observer</class>
                        <method>syncInvoice</method>
                    </zohointegration>
                </observers>
            </sales_order_invoice_save_commit_after>
        </events>		
	</global>
	<admin>
        <routers>
           <zohointegration_admin>
                <use>admin</use>
                <args>
                    <module>HN_Zohointegration</module>
                    <frontName>zohointegration_admin</frontName>
                </args>
            </zohointegration_admin>
        </routers>
	</admin>
    <adminhtml>
        <layout>
            <updates>
                <zohointegration>
                    <file>hn_zohointegration.xml</file>
                </zohointegration>
            </updates>
        </layout>
    </adminhtml>
	<default>
        <design>
            <header>
                <welcome>Default welcome msg!</welcome>
            </header>
        </design>
        </default>
</config>
